<div class="site">

        <div class="btn">
            <a href="#" class="scrollup" style="">&uarr;</a>
        </div>
        <div class="paspartu_top"></div>
        <div class="paspartu_bottom"></div>
        <div class="paspartu_left"></div>
        <div class="paspartu_right"></div>

	    <div class="header">

		  {{ page.header }}
	   </div>
       <div class="content">
	     {{ page.content }}
	   </div>

	   <div class="footer">
		{{ page.footer }}
	   </div>

</div>