.box2{padding:128px 80px 128px 80px;}.text2{margin-top:160px;}.text h2{font-family:system-ui;font-size:35px;line-height:47px;font-style:normal;font-weight:400;letter-spacing:0px;text-transform:none;}
